<%- include('ek/header', {bot, user, path}) %>
    <div class="nblana" align="left">
      <div class="nblin">
        <h1><font color="#212121" size="6px">Qnixe Bot List - Hakkımızda</font></h1>
        <br>
        <p>
          <font color="#212121" size="3px">Hakkımızda Kısmının Ekleneceği Kısım
        <p>
  </body>
