<%- include('ek/header', {bot, user, path}) %>
<div class="container">
	  	 <div class="jumbotron">
		<div align="center">
      <h3 style="color:#212121;"><b>Qnixe Bot List</b></h3>
    </div>
    </div>
		<div align="center">
      <h3 style="color:#f44336">Zorunlu olan her bilgiyi doldurmadın !</h3>
    </div>
</div>
</div></div></div>
