<%- include('ek/header', {bot, user, path}) %>
    <div class="nblana" align="left">
      <div class="nblin">
          	 <div class="jumbotron">
		<div align="center">
      <h3 style="color:#212121;margin-top:-50px;"><b>Sertifika Nasıl Alınır ?</b></h3>
    </div>
    <br>    
    </div>
        <p align="center" style="margin-top:-100px;">
          <font color="#212121" size="4px">━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━<br>Merhaba Botunuzun Sertifika Alması İçin Botun 50 Ve Üstü Sunucuda Bulunması Ayrı Yeten 10k Üstü Kullanıcı Olması Gerekmektedir<br>Eğer Botunuz Bunları Karşılıyorsa Kurucumuza Yani More's#4095  Yazınız<br>Qnixe Bot List İyi Eğlenceler <br>━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━</font>
        <p>
      </div>
  </body>
